.login2{
    font-size: 15px;  
    margin:0 10px;
    cursor: pointer;
    
}
.anticon-user {
    height: 10vh;
    line-height: 10vh;
}

svg{
    border: 2px solid #fff;
    padding:10px;
    box-sizing: content-box;
    border-radius: 50%;
    font-size: 17px;
    line-height: 10vh;

}